.container {
  display: flex;
}

#visual {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

/* Tooltip text */
.tooltip {
  width: auto;
  background-color: black;

  color: #fff;
  text-align: left;
  padding: 10px;
  border-radius: 6px;
 
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}